<div id="content">
	<a class="buttonLink" id="askQuestion" href="/questions/new">Ask a Question</a>
	<a class="buttonLink" id="selectDevice" href="/Answers/Devices">Browse Groups</a>
	<h1><%= $redis.hlen('q') %> Questions</h1>
	<p><strong>Tip: </strong>Most recently asked or answered questions. Help people out by sharing your knowledge, or help a good question get answered by voting it up!</p>
	<div class="clearer"></div>
	<div id="questions">
		<% @questions.each do |q| %>
			<table class="firstRow">
			   <tbody><tr class="row " data-postid="17729">
			      <td class="questionStatus">
			         <p class="answers answered"><%= $redis.hlen("q:#{q['id']}.as") %> Answers</p>
			         <p class="vote"><%= $redis.get("#{q['id']}.vote").to_i %> Votes</p>
			      </td>
			      <td class="questionTitle">
			         <h3><%= link_to q['title'], "/questions/#{q['id']}", :class => 'focus' %></h3>
				  </td>
			      <td class="questionKeywords">
			         <ul>
						<li class="muted"><a href="/Answers/Tag/" class="muted">Ruby on Rails</a></li>
					</ul>
			      </td>
				  <td class="rowField questionUser">
			   		<div class="userCard userCardHorizontal">
<a href="/User/345913/Aj+Qureshi" class="muted"><img height="56" width="56" src="http://guide-images.ifixit.net/igi/y6kZd1oBioUbbMBj.mini" alt="Avatar"></a>			      		<p class="userCardName">
			         		<a href="/users/<%= q['id'] %>" class="muted"><%= q['realname'] %></a>
			      		</p>
			        	<p class="userCardReputation">
			            	<span class="userCardScore">1</span>
			      		</p>
			        	<p class="userCardDetail">Answered <time title="" datetime="">21 minutes ago</time></p>
			        </div>
			      </td>
			   </tr>
			</tbody></table>
		<% end %>
	</div>
</div>