<h1><%= @question['title'] %></h1>
<p>
	<%= @question['content'] %>
</p>
<p>
	<%= @question['credit'] %>
</p>
<p>
	<%= @question['money'] %>
</p>
<p>
	<%= @question['expire_time'] %>
</p>

<hr>


<%= form_for([@question, Answer.new]) do |f| %>
	<%= f.text_area :content %>
	<%= f.submit 'Create an Answer' %>
<% end %>