<% j = JSON.parse(@question) %>
<h1><%= j['title'] %></h1>
<p>
	<%= j['content'] %>
</p>
<p>
	<%= j['credit'] %>
</p>
<p>
	<%= j['money'] %>
</p>
<p>
	<%= j['expire_time'] %>
</p>

<hr>


<%= form_for(Answer.new, :url => "/questions/#{params[:id]}/answers") do |f| %>
	<%= f.text_area :content %>
	<%= f.submit 'Create an Answer' %>
<% end %>